.close_icon {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.container {
    padding: 25px 0;
    margin: 0 40px;
    width: 640px;
    max-height: 620px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.order_id {
    width: 640px;
    text-align: center;
}

.order_text {
    width: 640px;
    text-align: left;
}

.ingredients {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 312px;
    overflow-y: scroll;
}

.info {
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    display: flex;
    gap: 8px;
}

.priceIcon {
    width: 22px;
    height: 22px;
}

.ingredient_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.ingredient_item_image {
    position: relative;
    overflow: hidden;
    width: 64px;
    height: 64px;
    border: solid 2px transparent;
    background-image: linear-gradient(#131316, #131316), linear-gradient(#801ab3, #4c4cff);
    border-radius: 50%;
    background-clip: content-box, border-box;
}

.ingredient_item_title {
    width: 414px;
}

.ingredient_item_price {
    width: 90px;
}