.close_icon {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.container {
    padding: 25px 0;
    margin: 0 40px;
    width: 640px;
    max-height: 620px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.order_id {
    width: 640px;
    text-align: center;
}

.order_text {
    width: 640px;
    text-align: left;
}

.ingredients {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 312px;
    overflow-y: scroll;
}

.info {
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    display: flex;
    gap: 8px;
}

.priceIcon {
    width: 22px;
    height: 22px;
}