.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-end;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.link {
    text-decoration: none;
    transition: all 0.3s;
}