.links_box {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 320px;
}

.text {
    padding: 0;
    margin-top: 56px;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
}