.links_box {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 320px;
}

.text {
    padding: 0;
    margin-top: 56px;
    color: #8585AD;
}

.link {
    text-decoration: none;
    transition: all 0.3s;
}

.link:hover {
    opacity: 0.7;
    transition: all 0.3s;
}