.burger_ingredients {
    max-width: 600px;
    height: 912px;
}

.burger_ingredients_menu {
    display: flex;

}

.burger_ingredients_title {
    margin: 0;
}

.tabs_box {
    margin: 0;
}

.ingredients_box {
    height: 756px;
    overflow-y: scroll;
    overflow-x: hidden;
}